name: CI/CD pipeline

on:
  push:
    branches: [ "**" ]

jobs:
  tests:
      name: Test library
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v6
  
        - name: Set up Node
          uses: actions/setup-node@v6
          with:
            node-version: 22
  
        - name: Install dependencies
          run: npm install
  
        - name: Run test
          run: npm test
